@import "tailwindcss";

/* TODO REALLY COOL || */
/* TODO REALLY COOL \/ */
/* @custom-variant dark (&:is(.dark *)); */

/* *:not(.no-border) {
  border: .1px dotted red;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(var(--tx, 40px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.inside-container-large {
  @apply mx-auto flex w-full max-w-6xl flex-col gap-12 bg-white px-5.5 pt-32 pb-12 md:gap-16 md:px-11 lg:pt-36 lg:pb-16;
}
@theme inline {
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);
  --color-foreground-alt: var(--foreground-alt);
  --animate-fade-in: fadeIn 0.4s ease forwards;
}

:root {
  --background: oklch(0.145 0 0);
  --background-alt: oklch(1 0 0);
  --foreground: oklch(1 0 0);
  --foreground-alt: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

@layer base {
  /* * {
    @apply bg-background;
  } */
  body {
    @apply text-foreground bg-background;
  }
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .screen {
    @apply h-screen w-screen;
  }
  .full {
    @apply h-full w-full;
  }
  .icon-display {
    @apply relative h-10 w-10 duration-300 will-change-transform hover:scale-110;
  }
}
