@import "tailwindcss";

/* *:not(.no-border) {
  border: .1px dotted red;
} */

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --breakpoint-xs: 28rem;
}

:root {
  --color-primary: #fff;
  --color-secondary: #f9f4ee;
  --color-accent: #bb2528;
  --color-background: oklch(0.955 0 0);
  --color-surface: #262626;
}
body {
  @apply text-surface bg-background;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .animate-click {
    animation: click 200ms ease-in-out;
    &:active {
      animation: none;
    }
  }

  @keyframes click {
    0%,
    100% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.8) scaleX(1.1);
      filter: saturate(2) brightness(1.2);
    }
  }

  .social-link {
    @apply flex h-8 w-8 items-center justify-center rounded-full bg-zinc-700 p-1 transition-all duration-200 hover:-translate-y-0.5 hover:scale-105 hover:bg-zinc-600;
  }

  /* Mobile Menu TOPBAR */
  body[data-mobile-menu="closed"] {
    .mobile-menu-container {
      pointer-events: none;
      max-height: 0;
      opacity: 0;
    }
  }

  .dot-menu-icon {
    > span {
      background-color: var(--color-surface, #fff);
      width: 0.375rem;
      height: 0.375rem;
    }
  }
  body[data-mobile-menu="open"] {
    .dot-menu-icon {
      :first-child {
        height: 0.225rem;
        width: 100%;
        rotate: calc(45deg);

        background-color: var(--color-surface-active, #fff) !important;
      }
      :nth-child(2) {
        opacity: 0;
      }
      :nth-child(3) {
        height: 0.225rem;
        width: 100%;
        rotate: calc(-45deg);

        background-color: var(--color-surface-active, #fff);
      }
    }

    .mobile-menu-container {
      pointer-events: auto;
      max-height: 300px;
      opacity: 1;
      padding-bottom: 1rem;
    }
    .mobile-menu-item {
      transform: translateX(0px);
      opacity: 1;
      /* Calculate delay based on index */
      transition-delay: calc(var(--index) * 0.2s + 0.2s);
    }
  }

  .mobile-menu-item {
    transform: translateX(-100px);
    opacity: 0;
    transition-delay: 0.3s;
  }
}

@utility body-lg {
  @apply text-sm md:text-base lg:text-base xl:text-lg;
}

@utility body-md {
  @apply text-xs md:text-sm xl:text-base;
}
